<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvob81LR48XyY1CN0GP5r_j_66TlA7TW0</string>
	<key>GCM_SENDER_ID</key>
	<string>1090082208257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blackcoffer</string>
	<key>PROJECT_ID</key>
	<string>blackcoffer-a38e2</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcoffer-a38e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090082208257:ios:2c0742207f5e399914de00</string>
</dict>
</plist>